<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="bg-admin-body">
    <div class="navbar navbar-inverse navbar-fixed-top bg-admin">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Необходимые запчасти", "PartsToOrder", "Admin")</li>
                    <li>@Html.ActionLink("Работа с мастерами", "Index", "Admin")</li>
                    <li>@Html.ActionLink("Статистика мастеров", "MasterStats", "Admin")</li>
                    <li>@Html.ActionLink("Доходы", "Profit", "Admin")</li>
                    <li>@Html.ActionLink("Затраты на запчасти", "Investments", "Admin")</li>
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>

            <div class="navbar navbar-fixed-bottom navbar-inverse bg-admin">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <b class="text-white"><span class="glyphicon glyphicon-calendar"></span> @DateTime.Now.Day-@DateTime.Now.Month-@DateTime.Now.Year</b>
                        </div>
                        <div class="col-md-2 col-md-offset-8">
                            <a href="#top">Вверх</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <b class="text-white"><span class="glyphicon glyphicon-envelope"></span> bondagefist@mail.ru</b>
                        </div>
                    </div>
                </div>

            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
